.App {
  text-align: center;
}

.App-header {
  padding: 1rem;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main-message {
  padding: 1rem;
  background-color: antiquewhite;
  color: #666;
}

.App-main-message button {
  padding: .5rem 1rem;
  font-size: 2rem;
  border-radius: 8px;
}
.App-main-message button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.likeButton {
  font-size: 2rem;
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
